
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.absolution {
  position: absolute;
  right: 50px;
  z-index: 99
}

.submit-button {
  opacity: 0.9;
  background: #2ca02c;
  border: none;
  border-radius: 5px;
  position: absolute;
  height: 37px;
  width: 50px;
}
